.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 2rem 9%;

background: var(--bg-color);
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
  font-size: 2.5rem;
  color: var(--text-color-yellow);
  font-weight: 600;
}
#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color-white);
  display: none;
}
.navbar {
  a{
    font-size: 1.8rem;
    color: var(--text-color-white);
    margin-left: 4rem;
    transition: .3s;
  }
  a:hover, a.active {
    color: var(--text-color-yellow);
  }
}
