.skills  {
  background: var(--second-bg-color);
  h2{
    margin-bottom: 2rem;
    text-align: center;
    font-size: 4rem;
  }
  span{
    color: var(--text-color-yellow);
  }
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .dev-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--bg-color);
  transition: .5s ease;
}

.skills-container .dev-box:hover {
  border-color: var(--main-second-color);
  transform: scale(1.05);
}

.dev-box  {
  i{
    font-size: 6rem;
    color: var(--text-color-yellow);
  }
  h3{
    font-size: 2.4rem;
  }
  p{
    font-size: 1.4rem;
    margin: 1rem 0 2rem;
  }
}




