<section class="skills" id="skills">
  <h2 class="cabecalho">Minhas <span>Dev-Skills</span></h2>
  <div class="skills-container">
      <div class="dev-box">
          <i class='bx bxl-html5'></i>
          <h3>HTML:5</h3>
          <p>Desenvolvimento de linguagem HTML 5 com boas práticas de  código, com formatação enxuta e descritiva no formato BEM (Bloco Elemento Modificador) e endentação.</p>
          <a href="https://github.com/Caco0/HTML-Skills" class="btn" target="_blank" rel="noreferrer noopener" >Leia mais</a>
      </div>
      <div class="dev-box">
          <i class='bx bxl-css3' ></i>
          <h3>CSS</h3>
          <p>Estilização de páginas e sistemas web, promovendo acessibilidade visando uma apresentação do conteúdo e  melhor aproveitamento do tráfego orgânico das redes google e bing.</p>
          <a href="https://github.com/Caco0/CSS-Skills/tree/main" class="btn" target="_blank" rel="noreferrer noopener" >Leia mais</a>
      </div>
      <div class="dev-box">
          <i class='bx bxl-javascript' ></i>
          <h3>JavaScript</h3>
          <p>Programação Orientada a Objetos, para implementação de funções, classes para entregar melhor funcionalidades e mais complexas a webpages </p>
          <a href="https://github.com/Caco0/JavaScript-Skills" class="btn" target="_blank" rel="noreferrer noopener" >Leia mais</a>
      </div>
      <div class="dev-box">
          <i class='bx bxl-react'></i>
          <h3>React</h3>
          <p>Desenvolvendo habilidades em React, confira meu progresso de estudos no link abaixo. Em breve postarei meus projetos </p>
          <a href="https://github.com/Caco0/React-Project1" class="btn" target="_blank" rel="noreferrer noopener" >Leia mais</a>
      </div>
      <div class="dev-box">
          <i class='bx bxs-brain'></i>
          <h3>Inteligência Artificial</h3>
          <p>Desenvolvimento de aplicações de Inteligência
              Artificial, utilizando a tecnologia e todo conhecimento adquirido
              para auxiliar as atividades humanas promovendo produtividade,
              velocidade e precisão em todos os níveis hierárquicos suportando
              todo o processo de tomada de decisão </p>
          <a href="https://github.com/Caco0/PUCPR-Sistema-de-gest-o-de-Dados-Acad-micos-" class="btn" target="_blank" rel="noreferrer noopener" >Leia mais</a>
      </div>
      <div class="dev-box">
          <i class='bx bxl-angular'></i>
          <h3>Fullstack Java+Angular</h3>
          <p>A grade educacional inclui desde os conceitos iniciais até tópicos avançados em desenvolvimento web, JavaScript, Angular, Java, bancos de dados e APIs REST, visando aumentar sua produtividade na criação de aplicativos web modernos e escaláveis. </p>
          <a href="https://rafael-fullstack-java-angular.notion.site/Caderno-de-Estudos-e0441d47222a449693889cce02cf1b2f?pvs=4" class="btn" target="_blank" rel="noreferrer noopener" >Leia mais</a>
      </div>
      <div class="dev-box">
          <i class='bx bxl-python'></i>
          <h3>Python</h3>
          <p>Implementação de estruturas, condicionais if elif else, e estruturas de repetição for e while, funções com retorno e para navegar e manipular dados do sistema. Manipulação de APIs e persistência de dados.</p>
          <a href="https://github.com/Caco0/system-design-primer" class="btn" target="_blank" rel="noreferrer noopener" >Leia mais</a>
      </div>
  </div>
</section>
