<app-header />
<main>
  <section class="home" id="home">
    <div class="home-content">
      <h3>Olá, Eu sou</h3>
      <h1>Rafael Dametto</h1>
      <h3>E eu sou <span>Graduando em Inteligência Artificial</span></h3>
      <p>
        Olá! Eu sou Rafael Fortunato Dametto, Tecnólogo em Inteligência
        Artificial e Desenvolvedor Frontend Jr. Eu desenvolvo soluções em
        Frontend para empresas e pessoas, atuo também em Social Media.
        Atualmente Estou cursando Tecnologia em Inteligência Artificial Aplicada
        na PUCPR
      </p>
      <div class="social-media">
        <a
          href="https://www.linkedin.com/in/rafael-fortunato-41303192/"
          rel="noreferrer noopener"
          target="_blank"
          ><i class="bx bxl-linkedin-square"></i
        ></a>
        <a
          href="https://github.com/Caco0"
          rel="noreferrer noopener"
          target="_blank"
          ><i class="bx bxl-github"></i
        ></a>
        <a
          href="https://www.youtube.com/@IAComModera%C3%A7%C3%A3o-u4k"
          rel="noreferrer noopener"
          target="_blank"
          ><i class="bx bxl-youtube"></i
        ></a>
        <a
          href="https://www.facebook.com/rfdametto"
          rel="noreferrer noopener"
          target="_blank"
          ><i class="bx bxl-facebook-circle"></i
        ></a>
      </div>
      <a
        href="https://drive.google.com/file/d/1K_n5ie8NJJ22vUWIzvyz5tP2gpctGxLT/view?usp=drive_link"
        rel="noreferrer noopener"
        class="btn"
        target="_blank"
        >Download CV</a
      >
    </div>
    <div class="home-img">
      <img
        src="assets/home.png"
        alt="Rafael Fortunato - imagem de perfil colorida"
        width="30vw"
        loading="eager"
      />
    </div>
  </section>
  <app-sobre-min />
  <app-services />
  <app-skills />
  <app-portfolio />
  <app-contate-me />
  <app-footer />
</main>
