<section class="portfolio" id="portfolio">
  <h2 class="heading">Projetos<span> Recentes</span></h2>
  <div class="portfolio-container">
    @for(item of arrayPortfolio(); track item){
    <div class="portfolio-box">
      <img [src]="item.src" [alt]="item.alt" loading="lazy" />
      <div class="portfolio-layer">
        <h4>{{ item.div?.h4 }}</h4>
        <p>{{ item.div?.p }}</p>
        <a [href]="item.href" [target]="item.target" [rel]="item.rel"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    }
    <!-- <div class="portfolio-box">
      <img
        src="assets/portifolio1.jpg"
        alt="Imagem ilustrativa do novo projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>PlayStation Store Angular</h4>
        <p>
          Projeto de estudos de reprodução parcial da loja virtual PlayStation,
          com significativas mudanças estéticas e de funcionalidades, o projeto
          utiliza-se do framework Angular para implementação e visa
          principalmente aplicar na prática o uso do framework. sendo assim o
          projeto tem a finalidade de demostrador de skill.
        </p>
        <a
          href="https://play-store-angular-project-x4s5.vercel.app/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio5.jpg"
        alt="Imagem ilustrativa do novo projeto"
      />
      <div class="portfolio-layer">
        <h4>BuzzFeed Clone</h4>
        <p>
          Projeto de estudos Angular, clone do BuzzFeed com Framework Angular
          Ts, implementando API mocada.
        </p>
        <a
          href="https://project-buzz-feed.vercel.app/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio4.jpg"
        alt="Imagem ilustrativa do novo projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>Blog Angular</h4>
        <p>
          Projeto de estudos Angular, implementando projetos e rotas. este
          projeto busca implementar o aproveitamento de rotas no angular.
        </p>
        <a
          href="https://play-store-angular-project-x4s5.vercel.app/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio3.jpg"
        alt="Imagem ilustrativa do primeiro projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>React 1º Projeto</h4>
        <p>
          Neste primeiro projeto React desenvolvo as skills de básicas de
          react/js como: Componentes de Classe Stateful, State com Arrey e
          Objetos Lifecycle Methods, Data Fetching, Props, Organização de
          componentes, Inputs de texto, Fluxos de dados, Componentes State vs
          Props, Eventos Sintéticos, Padronização Eslint, Prettier, Jest e
          Testing Library, Mock service Worker
        </p>
        <a
          href="https://react-project1-ten.vercel.app/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio2.jpg"
        alt="Imagem ilustrativa do primeiro projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>Portfólio</h4>
        <p>
          Neste Portfólio faço uso de todas as principais skills adquiridas no
          decorrer do curso, Html 5, e suas semânticas, CSS e todas as suas
          técnicas de estilização como grid, flexbox, responsividade,
          acessibilidade entre outros para a apresentação das minhas
          habilidades.
        </p>
        <a href="#" target="_blank" rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio1.jpg"
        alt="Imagem ilustrativa do primeiro projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>MID</h4>
        <p>
          Este é MID, e neste projeto eu realizo a implementação de códigos em
          JavaScript para automatização de funções, com programação orientada a
          objeto para que funções em comum sejam compartilhadas em outras partes
          do projeto.
        </p>
        <a
          href="https://caco0.github.io/Mid/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio5.jpg"
        alt="Imagem ilustrativa do primeiro projeto"
      />
      <div class="portfolio-layer">
        <h4>Newsletter Responsivo</h4>
        <p>
          Projeto Newsletter, aqui é feita a utilização de SVG's para deixar o
          projeto mais atrativo e implementado a responsividade que confere a
          página características e estilizações diferentes conforme a resolução
          do dispositivo detectado..
        </p>
        <a
          href="https://caco0.github.io/projeto-alura-newsletter/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio4.jpg"
        alt="Imagem ilustrativa do primeiro projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>Verão | SVG</h4>
        <p>
          O projeto Verão é feita a implementação de SVG para animações na
          landing page, com a finalidade de adquirir, mais essa habilidade de
          implementação de tecnologias permitindo uma flexibilização maior nos
          projetos sem o uso extensivo de JavaScript e imagens muito pesadas.
        </p>
        <a
          href="https://caco0.github.io/Projeto-SVG-Verao/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio3.jpg"
        alt="Imagem ilustrativa do primeiro projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>Alura Responsivo</h4>
        <p>
          No projeto Alura Responsivo há a implementação da responsividade da
          página, que se adapta a vários padrões de telas disponíveis no
          mercado, bem como o reforço de todos os outros conceitos adquiridos
          anteriormente.
        </p>
        <a
          href="https://caco0.github.io/CSS-Grid-Simplificado/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio2.jpg"
        alt="Imagem ilustrativa do primeiro projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>Alurabooks</h4>
        <p>
          Com o Alurabooks inicio a implementação de mais funções e marcações
          mais elaboradas em Html 5, com a semântica mais aperfeiçoada, e também
          usando de estilização Css mais complexa a fim de aprimorar os
          conhecimentos no Frontend.
        </p>
        <a
          href="https://caco0.github.io/Alurabooks/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div>
    <div class="portfolio-box">
      <img
        src="assets/portifolio1.jpg"
        alt="Imagem ilustrativa do primeiro projeto"
        loading="lazy"
      />
      <div class="portfolio-layer">
        <h4>Primeira Página</h4>
        <p>
          Este é o primeiro projeto de aplicação web Html e Css, nele é posto em
          prática a marcação html e o css para a estilização da landing page
          organizando todo a estética da página apresentada
        </p>
        <a
          href="https://caco0.github.io/Projetos-de-estudos-Alura-HTML/"
          target="_blank"
          rel="noreferrer noopener"
          ><i class="bx bx-link"></i
        ></a>
      </div>
    </div> -->
  </div>
</section>
