<section class="about" id="sobre-mim">
  <div class="about-img">
    <img
      src="assets/about.png"
      alt="Rafael Fortunato - imagem de perfil  branco e preto"
      width="30vw"
      loading="eager"
    >
  </div>
  <div class="about-content">
    <h2 class="heading">Sobre <span>Mim</span></h2>
    <h3>Grand. Inteligência Artificial <span>|</span> Frontend Angular Developer <span>|</span> Social Media</h3>
    <p>"Desenvolvedor Frontend Angular apaixonado por criar experiências digitais incríveis! Com formação em Tecnologia da Informação e atualmente cursando Tecnologia em Inteligência Artificial Aplicada na PUCPR, possuo sólida experiência em desenvolvimento de interfaces web utilizando o framework Angular. Sou especialista em construir soluções web eficientes e otimizadas para SEO, com foco em sites corporativos, lojas virtuais e blogs. Meus projetos entregam alta performance, responsividade e acessibilidade, garantindo a melhor experiência para os usuários.</p>
    <a href="https://github.com/Caco0/Caco0" class="btn" target="_blank" rel="noopener noreferrer">Saiba Mais</a>
  </div>
</section>
