<section class="services" id="services">
  <h2 class="heading">Meus <span>Serviços</span></h2>

  <div class="services-container">
    <div class="services-box">
      <i class='bx bx-code-alt'></i>
      <h3>Web Development</h3>
      <p>Construímos portais digitais personalizados, otimizados para o sucesso. Com tecnologias de ponta e design intuitivo, entregamos experiências digitais que inspiram e convertem.</p>
      <a href="" class="btn">Saiba Mais</a>
    </div>
    <div class="services-box">
      <i class='bx bxl-facebook-circle' ></i>
      <i class='bx bxl-tiktok' ></i>
      <i class='bx bxl-instagram' ></i>
      <h3>Social Media</h3>
      <p>Sendo a voz da sua marca nas redes sociais. Como Social Media amplificamos sua presença digital, conectando-a com seu público e impulsionando resultados.</p>
      <a href="" class="btn">Saiba Mais</a>
    </div>
    <div class="services-box">
      <i class='bx bxs-brain' ></i>
      <h3>IA Eng de Prompt</h3>
      <p>DAtuo com Engenharia de Prompt, uma área estratégica dentro do desenvolvimento de soluções em Inteligência Artificial que tem como objetivo estruturar, otimizar e controlar a comunicação entre modelos de linguagem (LLMs) e os usuários.</p>
      <a href="" class="btn">Saiba Mais</a>
    </div>
    <div class="services-box">
      <i class='bx bxs-brain' ></i>
      <h3>IA Agentes</h3>
      <p>Atualmente, atuo no desenvolvimento de agentes de Inteligência Artificial (IA) voltados para automação de processos, suporte interativo e tomada de decisão baseada em dados. Meu foco é projetar e implementar soluções que unem modelos de linguagem avançados (LLMs), integração com sistemas corporativos e arquitetura de software escalável, garantindo que cada agente seja capaz de executar tarefas de forma autônoma, eficiente e personalizada.</p>
      <a href="" class="btn">Saiba Mais</a>
    </div>
  </div>
</section>
