<section class="services" id="services">
  <h2 class="heading">Meus <span>Serviços</span></h2>

  <div class="services-container">
    <div class="services-box">
      <i class='bx bx-code-alt'></i>
      <h3>Web Development</h3>
      <p>Construímos portais digitais personalizados, otimizados para o sucesso. Com tecnologias de ponta e design intuitivo, entregamos experiências digitais que inspiram e convertem.</p>
      <a href="" class="btn">Saiba Mais</a>
    </div>
    <div class="services-box">
      <i class='bx bxl-facebook-circle' ></i>
      <i class='bx bxl-tiktok' ></i>
      <i class='bx bxl-instagram' ></i>
      <h3>Social Media</h3>
      <p>Sendo a voz da sua marca nas redes sociais. Como Social Media amplificamos sua presença digital, conectando-a com seu público e impulsionando resultados.</p>
      <a href="" class="btn">Saiba Mais</a>
    </div>
    <div class="services-box">
      <i class='bx bxs-brain' ></i>
      <h3>IA Eng de Prompt</h3>
      <p>Domine a arte de conversar com as máquinas. Nosso curso de Engenharia de Prompts te capacita a extrair o máximo potencial das IAs generativas, impulsionando sua carreira e inovação</p>
      <a href="" class="btn">Saiba Mais</a>
    </div>
  </div>
</section>
